# system and ide files
.idea
nbproject
.buildpath
.project
.settings
.local

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
vendor/*
vendor/

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
